@using SampleProject.Models

@{
    ViewBag.Title = "HtmlHelperExample";
}

<script>
    function funCar() {
        alert("Porsche gl30");
    }
</script>

<h2>HtmlHelperExample</h2>

@*<input type="text" name="name" value="" style="color:red" />*@

@using (Html.BeginForm("HtmlHelper2", "ActionForm", FormMethod.Post, new { id = "Form1" }))
{

    @Html.TextBox("FirstName", null, new { style = "color:red;", placeholder = "Enter Text Here", @class = "form-control", onclick = "funCar()" })
    <br />
    @Html.Password("Pwd", "xyz")
    <br />
    <span>Java</span>@Html.CheckBox("java", false)
    <span>DotNet</span>@Html.CheckBox("Dotnet", true)
    <br />
    <span>Male</span>@Html.RadioButton("Gender", "Male")
    <span>FeMale</span>@Html.RadioButton("Gender", "FeMale")
    <br />

    @Html.DropDownList("Country", new List<SelectListItem>()
    {
        new SelectListItem{Text="India",Value="1"},
        new SelectListItem{Text="China",Value="2",Selected=true},
        new SelectListItem{Text="America",Value="3"}

    }, "Select Country", new { @class = "form-control" })
    <br />


    @*@Html.DropDownList("Students")*@

    <label>Comments</label> @Html.TextArea("comments", null, 5, 10, null)
    <br />

    <input type="submit" value="submit" class="btn btn-success" />
}

<br />

@myhtmlhelper.MyLabel("I agree with the above information")
<br />

@Html.createUrControl("text", "funCar()")
<br />
@Html.createUrControl("number")
<br />
@Html.createUrControl("date")
<br />
@Html.createUrControl("file")
<br />
@Html.createUrControl("checkbox")
<br />
@Html.createUrControl("radio")
<br />


@helper A(string content)
{
    <label>@content</label>
}
@A("hi this is ali")



@section Section1
{
    Today is Lovely day but i cant see.
}


@*//if you want to create HtmlControls with C# Methods then you can use HtmlHelper

    //two Different type of Html Helper
    //1) loosly type ex:TextBox,Checkbox 2) strongly type ex:TextBoxFor,CheckBoxFor
    //string name property :intialize id="FirstName",name="FirstName" type="text"*@



@*@using (Html.BeginForm("Index", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <span>File</span>
    <input type="file" id="fileupload" name="fileupload" />
    <input type="submit" value="upload" />
}
@ViewBag.msg


  public ActionResult Index()
        {
            return View();
        }
        [HttpPost]
        public ActionResult Index(HttpPostedFileBase fileupload)
        {
            string filename = Path.GetFileName(fileupload.FileName);
            string path = Server.MapPath("~/upload");
            fileupload.SaveAs(Path.Combine(path, filename));
            ViewBag.msg = "uploaded successfully";

            return View();
        }*@
